<!doctype html>

{{> _head }}

<body>
  <header>
    <h1> {{ Post.Title }} </h1>
    <h2> {{ Post.Subtitle }} </h2>
    <span>by {{ Post.Author }} </span>
  </header>

  <main>
    {{{ Post.Content }}}
  </main>

  <script>
   for (const figure of document.querySelectorAll('main figure')) {
     figure.addEventListener('click', (e) => {
       e.stopPropagation();
       figure.classList.toggle('lightbox');
     });
   }
  </script>

  <style>
   main img { cursor: pointer; }
   figure.lightbox {
       position: fixed;
       top: 0;
       left: 0;
       width: 100vw;
       height: 100vh;
       background: #292929e6;
       margin: 0;
       line-height: 100vh;
   }

   figure.lightbox img {
       width: auto;
       height: auto;
       max-width: 100%;
       max-height: 100%;
       vertical-align: middle;
   }
  </style>
</body>
